.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
}

/* for navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  flex-direction: column;
  min-height: 4.5rem;
  padding: .9rem;
  gap: 0.7rem;

}

.nav>.webTitle>a {
  color: #173D77;
  font-weight: 900;
  letter-spacing: 3px;
}

.nav>ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  flex-wrap: wrap;
}

.nav>ul>li>a {
  position: relative;
  color: black;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  padding: 2px 3px;
}

.nav>ul>li>a:hover {
  color: #173D77;
}

.nav>ul>li>a::before {
  content: '';
  position: absolute;

  width: 0%;
  height: 10%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(4, 21, 45, 0.5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.nav>ul>li>a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 10%;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(4, 21, 45, 0.5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.nav>ul>li>a:hover:before {
  width: 100%;
}

.nav>ul>li>a:hover:after {
  width: 100%;
}

.blogContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 10rem;
  /* background-color: yellow; */
  flex-direction: column;
  gap: 2rem;
}

.blogContainer>h1 {
  font-size: 2rem;
  color: #4831D4;
}

.blogContainer>p {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}

.imageWrap {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.blogs {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 80%;
  align-items: center;
  padding: 0 1rem;
  /* background-color: #4831D4; */
}

.blogs>a>.blogitem {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.blogs>a>.blogitem>h1 {
  font-size: 1.5rem;
}

.blogs>a>.blogitem>p {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.65);
}


@media screen and (min-width:768px) {
  .nav {
    flex-direction: row;
  }

  .container {
    width: 80%;
  }

  .blogContainer {
    align-items: center;
  }

  .blogContainer>h1 {
    font-size: 2.5rem;
  }

  .blogContainer>p {
    font-size: 1.6rem;
  }

  .img {
    width: 40%;
  }

  .blogs {
    width: 50%;
    max-width: 40rem;
  }

  .blogs>a>.blogitem {
    gap: 1rem;
  }

  .blogs>.blogitem>h1 {
    font-size: 2rem;
  }

  .blogs>.blogitem>p {
    font-size: 1.6rem;
  }
}